<section>

<div class="container-fluid">
  <h1>Pie Chart and slider</h1>
  <div class="row">
    <div class="col-sm-4" style="background-color:lavender;">
    	<div>
    		<rzslider rz-slider-model="work.sliderA.value" rz-slider-options = "work.sliderA.options"></rzslider>
		</div>
    </div>
    <div class="col-sm-4" style="background-color:lavenderblush;">
    	<div>
    		<rzslider rz-slider-model="work.sliderB.value" rz-slider-options = "work.sliderB.options"></rzslider>
		</div>
    </div>
    <div class="col-sm-4" style="background-color:lavender;">
    	<div>
    		<rzslider rz-slider-model="work.sliderC.value" rz-slider-options = "work.sliderC.options"></rzslider>
		</div>
    </div>
  </div>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-4">
			<canvas id="pie" class="chart chart-pie"
			  chart-data="data" chart-labels="labels" style="margin: 40px auto;">
			</canvas>
		</div>
	</div>
</div>

</section>